
body {
  background-color: #a4c2f4ff;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;  
  font-family: sans-serif;
}

h2 {
  font-size: 50px;  
  font-family: sans-serif;
}

h3 {
  font-family: sans-serif;
  font-size: 20;
  text-align: center;
}

h4 {
  font-family: sans-serif;
  font-size: 22;
  text-align: left;
}

.diagram-pic {
  width: 700px
}

.persona-pic {
  width: 450px;
  height: 580px;
  padding: 10px 60px;
}

.p-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.story {
  width: 1000px
}

#storyc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headers {
  background-color: #FF9FB2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(69, 69, 69);
}

#diagram {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
}

#personas {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
}

.blerb {
  display: flex;
  padding: 20px;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
}

#diagram-c {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  font-size: 20px;
  font-family: sans-serif;
}

p {
  border-width: 5px;
  border-style: solid;
  border-color: rgb(69, 69, 69);
  padding: 10px;
  background-color: #FF9FB2;
  border-radius: 25px;
  box-shadow: 5px 5px black; 
  font-family: sans-serif; 
}

.boxes {
  display: flex;
  justify-content: center; 
  flex-direction: column;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(69, 69, 69);
  padding: 2px;
  background-color: #fce5b3;
  border-radius: 25px;
  box-shadow: 5px 5px black; 
  width: 400px; 
}
